// cover some element-ui styles
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// 优化上传组件
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// 修改 el-dropdown 样式
.el-dropdown-menu {
  padding: 6px;
  border-radius: 10px;
  border: none;

  .el-dropdown-menu__item {
    padding: 6px 16px;
    border-radius: 6px;
  }
}

.el-menu--collapse > div > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link {
  color: var(--el-color-primary) !important;
}

// 优化菜单折叠展开动画（提升动画流畅度）
.el-menu.el-menu--inline {
  transition: max-height 0.26s cubic-bezier(0.4, 0, 0.2, 1) !important;
}

// 优化菜单 item hover 动画（提升鼠标跟手感）
.el-sub-menu__title,
.el-menu-item {
  transition: background-color 0s !important;
}

// el-message 样式调整
.el-message {
  background-color: #ffffff !important;
  border: 0 !important;
  box-shadow:
    0 6px 16px 0 rgba(0, 0, 0, 0.1),
    0 9px 28px 8px rgba(0, 0, 0, 0.08) !important;

  p {
    color: #303133 !important;
    font-size: 14px;
  }
}

// 错误消息样式增强
.el-message--error {
  background-color: #fef0f0 !important;
  
  p {
    color: #f56c6c !important;
  }
}

// el-checkbox 样式调整
.el-checkbox-group {
  &.el-table-filter__checkbox-group label.el-checkbox {
    height: 17px !important;

    .el-checkbox__label {
      font-weight: 400 !important;
    }
  }
}

.el-checkbox {
  .el-checkbox__inner {
    width: 18px;
    height: 18px;
    border-radius: 4px;

    &::before {
      content: "";
      height: 3px !important;
      top: 6px !important;
      background-color: #fff !important;
      transform: scale(0.6) !important;
    }

    &::after {
      width: 4px;
      height: 8px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 4px;
      margin: auto;
      border: 2px solid var(--el-checkbox-checked-icon-color);
      border-left: 0;
      border-top: 0;
    }
  }
}

// 修改 el-message-box 样式
.el-message-box {
  padding: 25px 20px;
}

.el-form--inline {
  .el-form-item {
    .el-select {
      min-width: 120px;
    }
  }
}
